<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinjee.wechat.mapper.AddressInfoMapper">
    <resultMap id="BaseResultMap" type="com.sinjee.wechat.entity.AddressInfo">
        <result column="address_id" jdbcType="INTEGER" property="addressId" />
        <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
        <result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone" />
        <result column="buyer_address" jdbcType="VARCHAR" property="buyerAddress" />
        <result column="select_status" jdbcType="TINYINT" property="selectStatus" />
        <result column="address_labels" jdbcType="VARCHAR" property="addressLabels" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="enable_flag" jdbcType="TINYINT" property="enableFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="updater" jdbcType="VARCHAR" property="updater" />
    </resultMap>


</mapper>