<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinjee.admin.mapper.ExpressDeliveryMapper">
    <resultMap id="BaseResultMap" type="com.sinjee.admin.entity.ExpressDelivery">
        <result column="express_id" jdbcType="INTEGER" property="expressId" />
        <result column="express_number" jdbcType="VARCHAR" property="expressNumber" />
        <result column="express_cor_name" jdbcType="VARCHAR" property="expressCorName" />
        <result column="express_cor_abbreviation" jdbcType="VARCHAR" property="expressCorAbbreviation" />
        <result column="tracking_number" jdbcType="VARCHAR" property="trackingNumber" />
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
        <result column="enable_flag" jdbcType="TINYINT" property="enableFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="updater" jdbcType="VARCHAR" property="updater" />
    </resultMap>


</mapper>