<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinjee.admin.mapper.ProductInfoMapper">
    <resultMap id="BaseResultMap" type="com.sinjee.admin.entity.ProductInfo">
        <result column="product_id" jdbcType="INTEGER" property="productId" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
        <result column="product_stock" jdbcType="INTEGER" property="productStock" />
        <result column="product_description" jdbcType="VARCHAR" property="productDescription" />
        <result column="product_icon" jdbcType="VARCHAR" property="productIcon" />
        <result column="product_standard" jdbcType="VARCHAR" property="productStandard" />
        <result column="product_tips" jdbcType="VARCHAR" property="productTips" />
        <result column="product_labels" jdbcType="VARCHAR" property="productLabels" />
        <result column="product_unit" jdbcType="VARCHAR" property="productUnit" />
        <result column="product_number" jdbcType="VARCHAR" property="productNumber" />
        <result column="product_status" jdbcType="TINYINT" property="productStatus" />
        <result column="sequence_id" jdbcType="INTEGER" property="sequenceId" />
        <result column="enable_flag" jdbcType="TINYINT" property="enableFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="updater" jdbcType="VARCHAR" property="updater" />
    </resultMap>

    <!-- 保存商品信息 -->
    <insert id="saveProductInfo" parameterType="com.sinjee.admin.entity.ProductInfo">
        insert into product_info (
          product_name,
          product_price,
          product_stock,
          product_description,
          product_icon,
          product_standard,
          product_tips,
          product_labels,
          product_unit,
          product_number,
          create_time,
          creator,
          update_time,
          updater
        ) values (
          #{productName},
          #{productPrice},
          #{productStock},
          #{productDescription},
          #{productIcon},
          #{productStandard},
          #{productTips},
          #{productLabels},
          #{productUnit},
          #{productNumber},
          now(),
          #{creator},
          now(),
          #{updater}
        )
    </insert>

    <!-- 删除商品 -->
    <delete id="deleteProductInfo" parameterType="java.lang.Integer">
      update product_info set enable_flag=0 where product_id = #{productId}
    </delete>

    <select id="selectProductInfosByPage" resultType="com.sinjee.admin.entity.ProductInfo">
      select
          *
      from product_info ${ew.customSqlSegment}
    </select>

    <select id="selectProductInfosByProductStatus" resultType="com.sinjee.admin.entity.ProductInfo">
      select
          *
      from product_info
      where enable_flag=1 and product_status=#{status}
    </select>

    <select id="selectProductInfosByCategoryNumber" resultType="com.sinjee.admin.entity.ProductInfo">
      SELECT
        *
        FROM product_info as pi where exists
        (
          select product_number from product_category_mid mid
          where 1=1
          <if test="map.categoryNumber != null">
             and mid.category_number=#{map.categoryNumber}
          </if>
          and mid.product_number=pi.product_number ) and enable_flag=1
    </select>

    <update id="updateProductInfo" parameterType="com.sinjee.admin.entity.ProductInfo">
        update product_info set
          product_name=#{productName},
          product_price=#{productPrice},
          product_stock=#{productStock},
          product_description=#{productDescription},
          product_icon=#{productIcon},
          product_standard=#{productStandard},
          product_tips=#{productTips},
          product_labels=#{productLabels},
          product_unit=#{productUnit},
          product_number=#{productNumber},
          update_time=now(),selectProductInfosByPage
          updater=#{updater}
        where
          product_id=#{productId} and enable_flag=1
    </update>

    <select id="selectProductInfoEntityById" parameterType="java.lang.Integer">
        select * from product_info where product_id=#{productId} and enable_flag=1
    </select>

    <select id="selectProductByNumber" resultType="com.sinjee.admin.entity.ProductInfo" parameterType="java.lang.String">
        select * from product_info where product_number=#{productNumber} and enable_flag=1
    </select>

    <update id="onProductInfo" parameterType="java.lang.Integer">
        update product_info set
          product_status=1
        WHERE product_id=#{productId} and enable_flag=1 and product_status=0
    </update>

    <update id="offProductInfo" parameterType="java.lang.Integer">
        update product_info set
          product_status=0
        WHERE product_id=#{productId} and enable_flag=1 and product_status=1
    </update>

    <!--0:上移 1:下移-->
    <select id="selectProductBySequenceId" resultType="com.sinjee.admin.entity.ProductInfo" parameterType="java.lang.String">
        select * from product_info where product_number=#{productNumber} and enable_flag=1
        <choose>
            <when test="type == 0">
                and sequence_id <![CDATA[ > ]]> #{sequenceId}
                order by sequence_id limit 1
            </when>
            <otherwise>
                and sequence_id <![CDATA[ < ]]> #{sequenceId}
                order by sequence_id desc limit 1
            </otherwise>
        </choose>
    </select>

</mapper>